<% title = 'アバウトページ'; description = '説明文'; rootPath = './'; noindex =
false; %>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/scss/style.scss" />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <script type="module" src="/assets/js/main.js"></script>
    <script type="module" src="/assets/js/test.js"></script>
    <title>Document</title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>

    <div class="contents">
      <h1>Homeページ</h1>
      <h2>テスト</h2>
      <h3>テスト</h3>
      <h4>テスト</h4>
    </div>

    <% for (let i = 1; i < 6; i++) { %>
    <div class="container">番号<%= i %></div>
    <% } %>

    <div class="come">test</div>

    <a href="<%- rootPath + 'about/index.html' %>">Aboutページへ</a>
    <a href="<%- rootPath + 'about/etc/index.html' %>">etcページへ</a>

    <img src="/assets/images/test.jpg" alt="" />

    <img src="/assets/img/test.jpg" alt="" />
    <%- include('./components/footer.ejs') %>
  </body>
</html>
